/* type selector */
body {
    background-color: lightgray;
}

h1 {
    color: green;
}
/* we also have class selector and id selector */

/*  we use dot/period for classes */
.anything-you-like {
    background-color: purple;
    color: yellow;
}

.something-else {
    background-color: orange;
    color: blue
}

.text {
    color: white;
    background-color: black;
    text-align: center;
}

.my-first-class {
    /* some styles  */
}

.my-other-class {
    /* more styles here */
}